
.icon-book:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-briefcase:before { content: '\e802'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-github1:before { content: '\f300'; } /* '' */
.icon-linkedin1:before { content: '\f30c'; } /* '' */
